.sm-title {
  color: var(--grey);
  font-size: 14px;
  font-family: "Cairo-Regular";
  @media only screen and (max-width: 768px) {
    font-size: 12px !important;
  }
  @media only screen and (max-width: 768px) {
    font-size: 10px !important;
  }
}

.steps-title {
  font-family: "Cairo-Bold";
  @media only screen and (max-width: 768px) {
    font-size: 12px;
  }
  @media only screen and (max-width: 425px) {
    font-size: 10px;
  }
}

.steps-title,
.sm-title {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
