@font-face {
  font-family: "Cairo-Regular";
  src: url("Assets/fonts/Cairo-Regular.ttf");
}
@font-face {
  font-family: "Cairo-Bold";
  src: url("Assets/fonts/Cairo-Bold.ttf");
}
@font-face {
  font-family: "Cairo-Medium";
  src: url("Assets/fonts/Cairo-Medium.ttf");
}

.App {
  text-align: center;
  font-size: "Cairo-Regular";
}

.main-wrapper {
  padding-inline: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 768px) {
    padding-inline: 1rem;
  }
}

.main-wrapper > h4 {
  font-size: 36px;
  line-height: 56px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: "Cairo-Medium";
  @media only screen and (max-width: 768px) {
    font-size: 28px;
    line-height: 36px;
  }
}

.details-sec {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

aside {
  flex: 30%;
  background-color: red;
}
