@font-face {
  font-family: "Cairo-Regular";
  src: url("Assets/fonts/Cairo-Regular.ttf");
}
@font-face {
  font-family: "Cairo-Bold";
  src: url("Assets/fonts/Cairo-Bold.ttf");
}
@font-face {
  font-family: "Cairo-Medium";
  src: url("Assets/fonts/Cairo-Medium.ttf");
}
@font-face {
  font-family: "Cairo-SemiBold";
  src: url("Assets/fonts/Cairo-SemiBold.ttf");
}
.App {
  text-align: center;
  font-family: "Cairo-SemiBold";
  width: 100%;
  overflow-x: clip;
}

.main-wrapper {
  padding-inline: 5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 768px) {
    padding-inline: 1rem;
  }
}

.main-wrapper > h4 {
  font-size: 36px;
  line-height: 56px;
  margin-block-start: 0em;
  margin-block-end: 1em;
  font-family: "Cairo-Bold";
  color: #111619;
  @media only screen and (max-width: 768px) {
    font-size: 28px;
    line-height: 36px;
  }
}
.id {
  font-size: 17px;
  color: #667085;
}
.error {
  text-align: center;
  margin-inline: auto;
  font-family: "Cairo-Regular";
  text-align: start;
  padding: 16px;
  background: #fef3f2;
  border: 1px solid #fecdca;
  border-radius: 4px;
  max-width: 60%;
  @media only screen and (max-width: 768px) {
    max-width: 100%;
  }
}
.details-sec {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

aside {
  flex: 30%;
}
